.copyright {
  min-width: 130px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-left: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}

.copyright__text {
  line-height: 18px;
  margin-right: 16px;
  color: $black-special;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__image {
  margin-top: 5px;

  &:hover path,
  &:hover path {
    fill: $black;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }
}
