.download-app {
  background-color: $black-basic;
  color: $white;

  @media (min-width: $middle-width) {
    position: absolute;
    z-index: 2;
    top: 80px;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    top: 239px;
  }

  @media (min-width: $desktop-width) {
    top: 312px;
  }
}

.download-app__wrapper {
  margin: 0 auto;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 32px;
  width: 280px;
  min-height: 271px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 0;
    background-color: transparent;
  }
}

.download-app__button {
  @include item-interaction;

  background-color: $black-basic;
  border-color: $white;
  color: $white;
  width: 100%;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    background-color: $white;
  }

  @media (min-width: $middle-width) {
    background-color: transparent;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 56px;
  }
}
