.features {
  background-image: url("../img/background-features.svg");
  background-size: 1172px 828px;
  background-repeat: no-repeat;
  background-position: 0 50px;
}
.features__wrapper {
  padding: 46px 20px 0;
}
.features__text {
  margin: 0;
  color: $black-special;
  font-size: 24px;
  line-height: 120%;
}
.features__list {
}
.features__item {
}
.features__tagline {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.feature__description {
  font-weight: normal;
  line-height: 24px;
  color: $black-special;
}
