.form-test {
  padding-top: 42px;
  background-color: $gray-basic;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    background-color: $white;
    grid-area: test;
  }
}

.form-test__wrapper {
  @include form-drop;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    @include border-form;
    padding: 28px 58px 5px;
  }
}

.form-test__list {
  @include list-drop;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 90px;
    padding-right: 90px;
  }
}

.form-test__item {
  padding-bottom: 50px;

  &:last-child {
    padding-bottom: 45px;
  }
}

.form-test__input {
  position: fixed;
}

.form-test__input + label::before {
  position: absolute;
  top: -8px;
  left: 0;
  content: "";
  width: 35px;
  height: 35px;
  background-color: $white;
  border: 2px solid $gray-special;
  border-radius: 1px;
}

.form-test__input:checked + label::before {
  background-image: url("../../img/form/forn-img-yes.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form-test__label {
  position: relative;
  font-size: 18px;
  padding-left: 59px;
}
