.form-info {
  @include form-drop;
}

.form-info__label {
  text-transform: uppercase;
  color: $red-basic;
  padding: 23px 23px 23px 0;
  cursor: pointer;
}

.form-info__input {
  @include border-form;

  box-sizing: border-box;
  height: 60px;
  width: 100%;
  font-size: 18px;
  padding-left: 23px;

  &::placeholder {
    color: $black-special;
  }
}
