.form-info-name {
  @include form-drop;

  @media (min-width: $desktop-width) {
    grid-area: name;
    padding-right: 0;
    margin-right: 0;
    margin-left: auto;
    width: 100%;
    max-width: 590px;
  }
}

.form-info-name__wrapper {
  padding-top: 13px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 0px 20px 80px;
  }

  @media (min-width: $max-desktop-width) {
    padding: 27px 25px 0 129px;
  }
}

.form-info-name__item {
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 39px;
    }
  }
}

.form-info-name__label {
}

.form-info-name__input {
}
