.form-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $form-button-color;
  color: $white;
  border: none;
  border-radius: 1px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $form-button-color--hover;
  }

  &:active {
    color: $white-opacity;
  }

  &:disabled {
    background-color: $gray-special;
  }
}

.form-button--send {
  width: 100%;
  min-height: 62px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}
