.form-info {
}

.form-info__label {
  display: inline-block;
  text-transform: uppercase;
  color: $red-basic;
  padding: 8px 23px 6px 23px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 8px 19px 7px 0px;
  }
}

.form-info__input {
  @include border-form;

  box-sizing: border-box;
  min-height: 62px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  padding-left: 20px;

  &::placeholder {
    color: $black-special;
  }
}
