.form {
  color: $black-special;
}

.form__box {
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "name"
      "systems"
      "contacts"
      "test"
      "comment"
      "footer";
  }

  @media (min-width: $desktop-width) {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name systems"
      "contacts contacts"
      "test test"
      "comment comment"
      "footer footer";
  }
}

.form__text {
  margin: 44px auto 13px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 92px;
    margin-bottom: 58px;
    font-size: 18px;
    line-height: 30px;
    width: 90%;
  }

  @media (min-width: $desktop-width) {
    width: 72%;
  }
}

.form__desc {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.form__legend {
  padding: 0 30px;
  line-height: 18px;
  color: $form-legend-color;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 42px;

  &--systems {
    margin-bottom: 39px;
  }

  &--comment {
    margin-bottom: 15px;
  }

  &--contacts {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      margin-bottom: 16px;
    }
  }

  &--test {
    margin-bottom: 20px;
  }
}

.form__required-text {
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: right;
    padding-top: 2px;
  }
}

.form__warning-text {
  color: $red-basic;
}

.form__footer {
  grid-area: footer;

  @media (min-width: $tablet-width) {
    margin-top: 68px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
  }
}
