.form-comment {
  padding-top: 38px;
  grid-area: comment;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 39px;
  }
}

.form-comment__wrapper {
  @include form-drop;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    @include border-form;
    padding: 21px 59px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 57px 35px;
  }
}

.form-comment__text {
  width: 100%;
  min-height: 200px;
  font-size: 18px;
  line-height: 30px;
  padding: 20px;
  padding-top: 14px;
  @include border-form;

  &::placeholder {
    color: $black-special;
    text-align: left;

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 193px;
  }

  @media (min-width: $desktop-width) {
    min-height: 126px;
  }
}
