.header-text {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    width: 80%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.header-text--index {
  @media (min-width: $tablet-width) {
    font-size: 40px;
    width: 300px;
    padding: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    max-width: 500px;
    padding-left: 0;
  }
}
