.main-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 145px 1fr;
    gap: 10%;
    padding-right: 120px;
  }
}

.main-nav__wrapper {
  background-color: $black-opacity;
}

.main-nav__box {
  display: flex;
  justify-content: space-between;
  min-height: 66px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }
}

.main-nav__logo {
  margin-right: 30px;
}

.main-nav__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  @include list-drop;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__item {
}

.main-nav__link {
  display: block;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  width: 100%;
  background-color: $black-special;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    padding: 10px 10px;
    background-color: transparent;
  }
}
