.main-nav {
  background-color: $black-opacity;
}

.main-nav__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 145px 1fr;
    gap: 10%;
    padding-right: 80px;
  }

  @media (min-width: $max-desktop-width) {
    padding-right: 120px;
  }
}

.main-nav__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 21px;

  &--opened {
    background-color: $black-special;
    border-bottom: 1px solid $black;
  }

  &--nojs {
    background-color: $black-special;
    border-bottom: 1px solid $black;
  }

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.main-nav__logo {
  width: 74px;
  height: 23px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: auto;
  }
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 50px;
  height: 24px;
  display: block;

  &--nojs {
    display: none;
  }

  @media (min-width: $tablet-width) {
    top: 36px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__box--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 21px 0 0$white;
}

.main-nav__box--closed .main-nav__toggle:hover::before,
.main-nav__box--closed .main-nav__toggle:focus::before {
  background-color: $red-basic;
  box-shadow: 0 10px 0 0 $red-basic, 0 21px 0 0 $red-basic;
}

.main-nav__box--closed .main-nav__toggle:focus::before {
  background-color: $red-opacity;
  box-shadow: 0 10px 0 0 $red-opacity, 0 21px 0 0 $red-opacity;
}

.main-nav__box--opened .main-nav__toggle {
  top: 23px;
  right: 15px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 18px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    top: 38px;
  }
}

.main-nav__box--opened .main-nav__toggle:hover::before,
.main-nav__box--opened .main-nav__toggle:focus::before,
.main-nav__box--opened .main-nav__toggle:hover::after,
.main-nav__box--opened .main-nav__toggle:focus::after {
  background-color: $red-basic;
}

.main-nav__box--opened .main-nav__toggle:active::before,
.main-nav__box--opened .main-nav__toggle:active::after {
  background-color: $red-opacity;
}

.main-nav__list {
  @include list-drop;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
}

.main-nav__item {
  @media (min-width: $desktop-width) {
    padding: 0 24px;

    &:last-child {
    }
  }

  @media (min-width: $max-desktop-width) {
    padding: 0 40px;

    &:last-child {
      padding-right: 11px;
    }
  }
}

.main-nav__link {
  display: block;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  width: 100%;
  background-color: $black-special;
  border-bottom: 1px solid $black;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  @include item-interaction;

  @media (min-width: $desktop-width) {
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
    margin-bottom: 9px;
    padding-bottom: 12px;
    background-color: transparent;
    border: none;

    &--current {
      border-bottom: 2px solid $white;
    }
  }
}
