.news-item {
  background-color: $gray-basic;
}

.news-item__img {
}

.news-item__img-panorama {
  display: block;
  width: 100vw;
  max-width: none;
  height: auto;
  position: relative;
  top: 0;
  left: calc(-50vw + 50%);
}

.news-item__blockquote {
  @include list-drop;

  &-panorama {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.news-item__author-name {
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}
.news-item__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.news-item__text {
  line-height: 24px;
  width: 100%;

  &-panorama {
    order: 3;
  }
}

.news-item__like {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $red-basic;
  align-self: bottom;

  &-panorama {
    order: 2;
  }
}
