.operating-systems {
}
.operating-systems__list {
  @include list-drop;
  display: flex;
  justify-content: center;
}
.operating-systems__item {
}
.operating-systems__link {
  color: $white;
}
.operating-systems__text {
  line-height: 24px;
}
