.page-header {
  color: $white;
  background-image: url("../img/background-header.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: $black-basic;
}
