.reviews {
}
.reviews__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews__list {
}
.reviews__item {
}
.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.reviews__text {
  color: $black-special;
}
.reviews__toggle {
}
