.reviews {
}
.reviews__wrapper {
  padding: 50px 20px;
}
.reviews__list {
}
.reviews__item {
}
.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.reviews__text {
  color: $specialblack;
}
.reviews__toggle {
}
