.slider {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.slider__item {
  display: none;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding: 0 10%;
  }
}

.slider__item--current {
  display: block;
}

.slider__button {
  display: none;
  width: 50px;
  height: 60px;
  margin-top: 30px;
  background-color: transparent;
  border: none;
  color: $black-special;
  opacity: 0.3;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.slider__button-back {
  @media (min-width: $desktop-width) {
    order: -1;
    background-image: url("../../img/index/left-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
  }
}

.slider__button-next {
  @media (min-width: $desktop-width) {
    background-image: url("../../img/index/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: 6px center;
  }
}
