.tariffs {
  background-image: url("../img/background-features.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}

.tariffs__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.tariffs__table {
  width: 100%;
}

.tariffs__row {
  display: grid;
  grid-template-columns: 100vw 100vw 100vw;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.tariffs__title {
  background-color: $black-special;
  color: $white;
  font-weight: bold;
  font-size: 16px;
}

.tariffs__price {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.tariffs__hit {
  background-color: $red-basic;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs__option {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.tariffs__option-text {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tariffs__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
