.tariffs {
  background-image: url("../img/background-features.svg");
  background-size: 1172px 828px;
  background-repeat: no-repeat;
  background-position: center 0;
}

.tariffs__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tariffs__table {
  width: 100%;
}

.tariffs__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tariffs__title {
  background-color: $black-special;
  color: $white;
  font-weight: bold;
  font-size: 16px;
}

.tariffs__price {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.tariffs__hit {
  background-color: $red-basic;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs__option {
  text-transform: uppercase;
}
