.tools-list {
  @include list-drop;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.tools-list__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 8px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.tools-list__button {
  width: 50px;
  height: 44px;
  border: none;
  background-color: transparent;

  & path {
    fill: $black-special;
    opacity: 0.3;
  }

  &:hover path,
  &:focus path {
    opacity: 0.5;
  }

  &--active path {
    fill: $red-basic;
    opacity: 1;
  }

  &--active:hover path,
  &--active:focus path {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tools-list__scale {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
