* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: block;
  border-radius: 30px;
  border: 3px solid $red-basic;
  padding-top: 16px;
  padding-bottom: 17px;
  width: 100%;

  &--send {
    color: $red-basic;
    border-color: $red-basic;
  }

  &--reset {
    border-color: $black-special;
    color: $black-special;
    opacity: 0.1;
  }
}

a {
  text-decoration: none;
}
