@mixin list-drop {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin form-drop {
  border: none;
  padding: 0;
  margin: 0;
}

@mixin border-form {
  border: 2px solid $gray-special;
  border-radius: 1px;
}

@mixin item-interaction {
  &:hover,
  &:focus {
    color: $red-basic;
  }
  &:active {
    color: $red-opacity;
  }
}

@mixin input-interaction {
  &:hover,
  &:focus {
    border-color: $black-special;
  }

  &:active {
    border-color: $red-basic;
  }
}
