// Colors

$black: #000000;
$black-basic: #1d2631;
$black-opacity: rgba(0, 0, 0, 0.3);
$black-special: #283645;
$black-superopacity: rgba(40, 54, 69, 0.1);

$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.3);

$gray-basic: #f2f2f2;
$gray-special: #e5e5e5;

$red-basic: #d22856;
$red-opacity: rgba(210, 40, 86, 0.3);

$green-basic: #2aab6d;
$green-dark: #1c9b5e;

$nav-button-color: $white;
$nav-button-color--focus: $red-basic;
$nav-button-color--active: $white-opacity;

$download-button-bg-color: $black-basic;
$download-button-bg-color--focus: $white;
$download-button-bg-color--active: $red-opacity;

$form-legend-color: $red-basic;

$form-button-color: $green-basic;
$form-button-color--focus: $green-dark;

// Fonts

$defult-font: "Open Sans", "Arial", sans-serif;

// Viewports

$middle-width: 500px;
$tablet-width: 660px;
$desktop-width: 960px;
$max-desktop-width: 1200px;
$mobile-width-only: 659px;
